// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$material-light: ( background: antiquewhite );
$border-radius-root: 6px;
$font-size-root: 24px;
$btn-font-weight: 800;
