// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$material-light: ( background: rgba(240, 241, 234, 0.481) );
$border-radius-root: 0px;
$font-size-root: 24px;
$btn-font-weight: 800;
$treeview-label-font-size: 14px;
$treeview-node-height-dense: 20px;
